flow.json
[{"id":"dc7232e5.eb0d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37e020a9.165ae","type":"function","z":"dc7232e5.eb0d2","name":"PreToken","func":"global.set(\"ag\",msg.payload.ag)\nglobal.set(\"sx\",msg.payload.sx)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"rg\",msg.payload.rg)\nvar apikey=\"dSL3vYX9tqBC9WMcog4QSaFXoK7GpEfnos_0DjFYIbcZ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["8582c1d4.c10f4"]]},{"id":"8582c1d4.c10f4","type":"http request","z":"dc7232e5.eb0d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":288.9999952316284,"wires":[["2ff4fa0b.4cc2e6","218ef21.d1b160e"]]},{"id":"5c6befdc.b6437","type":"inject","z":"dc7232e5.eb0d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":125.5,"y":213.99999809265137,"wires":[["37e020a9.165ae"]]},{"id":"76a15b5f.199204","type":"debug","z":"dc7232e5.eb0d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":30.99999713897705,"wires":[]},{"id":"2ff4fa0b.4cc2e6","type":"function","z":"dc7232e5.eb0d2","name":"Pre Prediction","func":"var ag = global.get('ag')\nvar sx = global.get('sx')\nvar bmi = global.get('bmi')\nvar ch = global.get('ch')\nvar sm = global.get('sm')\nvar rg = global.get('rg')\nvar token=msg.payload.access_token\nvar instance_id=\"16184217-9bf5-4d30-b610-5b6afcf00f21\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Sex\", \"BMI\", \"Children\", \"Smoker\", \"Region\"], \"values\": [[ag,sx,bmi,ch,sm,rg]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676.0000076293945,"y":251.99999904632568,"wires":[["9b4d6d84.96737"]]},{"id":"9b4d6d84.96737","type":"http request","z":"dc7232e5.eb0d2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/536f0c4e-a765-4d48-a60c-94f2ca9fae67/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":195.99999904632568,"wires":[["153348b2.ab32c7","76a15b5f.199204"]]},{"id":"d92c66db.5229e8","type":"ui_form","z":"dc7232e5.eb0d2","name":"","label":"","group":"3b86937c.15f97c","order":1,"width":0,"height":0,"options":[{"label":"Age","value":"ag","type":"number","required":true,"rows":null},{"label":"Sex","value":"sx","type":"text","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Children","value":"ch","type":"number","required":true,"rows":null},{"label":"Smoker","value":"sm","type":"text","required":true,"rows":null},{"label":"Region","value":"rg","type":"text","required":true,"rows":null}],"formValue":{"ag":"","sx":"","bmi":"","ch":"","sm":"","rg":""},"payload":"","submit":"estimate","cancel":"reset","topic":"","x":71,"y":342.9999952316284,"wires":[["37e020a9.165ae"]]},{"id":"94ff3bad.a724a8","type":"ui_text","z":"dc7232e5.eb0d2","group":"3b86937c.15f97c","order":2,"width":0,"height":0,"name":"","label":"Cost could be","format":"{{msg.payload}}","layout":"row-spread","x":827.6000366210938,"y":348.20000743865967,"wires":[]},{"id":"153348b2.ab32c7","type":"function","z":"dc7232e5.eb0d2","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":629.6000366210938,"y":91.60000133514404,"wires":[["94ff3bad.a724a8"]]},{"id":"218ef21.d1b160e","type":"debug","z":"dc7232e5.eb0d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":420,"wires":[]},{"id":"3b86937c.15f97c","type":"ui_group","z":"","name":"Health Insurance Cost Prediction","tab":"58419fa4.ab07f","order":1,"disp":true,"width":"6","collapse":false},{"id":"58419fa4.ab07f","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]